/* stylesheet */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0px;
}

header {
  background-color: #26b170;
  overflow: hidden;
  padding-top: 20px;
}

.logo {
  float: left;
}

.logo img {
  height: 50px;
}

nav {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 20px;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 18px;
}
.section-header {
  color: #0c1c81;
  padding: 10px;
  margin-left: 10px;
}
/* .car {
  margin-top: 100px;
  height: 200px; 
  animation: scrollCar 10s linear 1; 
}

@keyframes scrollCar {
  0% {
      transform: translateX(-100%); 
  }
  100% {
      transform: translateX(100%); 
  }
} */

.car {
  position: relative;
  top: 50%;
  left: -50px;
  animation: moveRight 5s linear forwards; /* Move car to the right */
}

@keyframes moveRight {
  to {
    left: calc(100% + 50px); /* Move car to the right side of the page */
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

/* The side navigation menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar .closebutton {
  position: absolute;
  color: #0c1081;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
  text-decoration: none;
}

#pageBody {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* Add records */

.container {
  /* background-color: cadetblue; */
  margin: 0 1%;
}

.table-btn button {
  background-color: #26b170;
  border: 0px;
  border-radius: 10px;
  padding: 8px 15px;
  color: white;
  font-size: medium;
}

.table-btn button:hover {
  background-color: #0c1081;
  cursor: pointer;
}

.table-btn {
  margin-left: 90%;
}

.container table,
tr,
td {
  border: 1.6px solid black;
  border-collapse: collapse;
}

.container table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container table tr td {
  padding: 0.4rem;
  width: auto;
}

.table-tab {
  background-color: #0c1081;
  color: white;
  text-align: center;
  font-size: large;
}

.table-input td input {
  padding: 5px 0;
  width: 100%;
}

.table-input .custom-select {
  padding: 4px 0;
  font-size: initial;
  width: 100%;
}

.table-input input,
.custom-select:hover {
  cursor: pointer;
}

/* Add records */

/* body {
  margin: 10;
  padding: 10;
} */
/* .top-bar {
  background-color: green;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
} */
.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.button-container div.instruction {
  margin-left: 14px;
  font-size: 14px;
}
.file-upload {
  position: relative;
  display: flex;
  justify-content: center;
}

.file-upload-input {
  display: none;
}

.custom-upload-button {
  color: #000;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px; /* Adjust margin as needed */
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}

/* Style for the input fields in the table */
input {
  width: 100%;
  box-sizing: border-box;
}
.Add-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; /* Adjust margin as needed */
}

.choose-green-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-image: url('Images/background.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0px 25px;
}

.line {
  border-bottom: 7px solid #fff;
  width: 25%;
}

.choose-green-text {
  color: #fff;
  font-size: 24px;
}

.section-vehicle-fleet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 10px;
}

.drop-down-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  background-color: #26b170;
  color: #fff;
  border-radius: 7px;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 25px;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 50%;
  padding: 25px;
}

.right-container select{
  margin: 1em 0em;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  position: absolute;
  left: 73%;
  margin-top: 40px;
  transform: translate(-50%, -50%);
}
 
.right-container h2 {
  margin-top: -10px;
}

/* 3rd and 4th page */
.section {
  padding: 20px;
}

.section h2 {
  color: #0c1c81;
}


.section-current-emission {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #26b170;
  width: 100%;
}

.section-current-emission > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0c1c81;
  color: #fff;
  width: 70%;
  padding: 25px 10px;
}

.section-analysis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 10px;
}

.analysis-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.total-emission-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  color: #0c1c81;
}

.emission-intensity-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #0c1c81;
}

.emission-saving-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: #0c1c81;
  width: 100%;
  padding: 25px 25px;
}

.emission-saving-text {
  color: #fff;
  font-size: 24px;
}

.emission-saving-table-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.saving-table {
  width: 80%;
  color: #fff;
  margin-top: 25px;
  border-radius: 7px;
}

.saving-table,
.saving-table-header-tr > th,
.saving-table-row > td {
  padding: 10px;
  background-color: #26b170;
  font-size: large;
}

.saving-table-header-tr > th {
  font-weight: 600;
  font-size: 24px;
}

.saving-table-header-tr {
  margin: 0px;
  background-color: #26b170;
}

.saving-table-row > td {
  text-align: center;
}

.saving-table-action-row {
  width: 80%;
  margin-top: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.saving-table-action-btn {
  background-color: #26b170;
  padding: 12px 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* Add more media queries for other sections as needed */
@media only screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .section {
    padding: 10px;
  }

  .button-section {
    flex-direction: column;
  }

  .data-table,
  th.header-td,
  td.data-td {
    font-size: 12px;
  }

  .drop-down-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-container,
  .right-container {
    width: 100%;
    padding: 10px;
  }

  select {
    width: 100%;
  }

  .mobile-menu {
    display: block; /* Show the mobile menu */
  }
}

/* Add Functionality */
.container {
  /* background-color: cadetblue; */
  margin: 0 1%;
}


.table-btn {
  margin-left: 90%;
}

.container table,
tr,
td {
  border: 1.6px solid black;
  border-collapse: collapse;
}

.container table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container table tr td {
  padding: 0.4rem;
  width: auto;
}

.table-tab {
  background-color: #0c1081;
  color: white;
  text-align: center;
  font-size: large;
}

.table-input td input {
  padding: 5px 0;
  width: 100%;
}

.table-input .custom-select {
  padding: 4px 0;
  font-size: initial;
  width: 100%;
}

.table-input input,
.custom-select:hover {
  cursor: pointer;
}

/* Footer */
.footer {
  /* background-color: #26b170; */
  background-color: #0c1081;
  color: white;
  font-size: medium;
  padding: 2% 2%;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-section1 form input {
  padding: 8px 2px;
  width: -webkit-fill-available;
}

.footer-section1 form button {
  margin-top: 5%;
  background-color: #26b170;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
}

.footer-section2 {
  margin-left: 2%;
}

.footer-section2 ul li {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.footer-section2 ul li a {
  color: white;
}
