/* stylesheet */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* font-family: 'Lato', sans-serif; */
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
  background-color: #26b170;
  padding: 10px;
}

header nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

header nav .menu {
  display: flex;
  align-items: center;
}

nav .menu a {
  color: white;
  margin-left: 30px;
  font-size: medium;
  position: relative;
  font-weight: 200;
  text-decoration: none;
}

nav .menu a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #0c1c81;
  transition: 0.4s;
}
nav .menu a:hover::after {
  width: 100%;
}

nav .social a i {
  color: #fff;
  font-size: 22px;
  margin-left: 10px;
  transition: 0.3s;
}
nav .social a i:hover {
  transform: scale(1.3);
  color: #0c1c81;
}

.logo {
  float: left;
}

.section-header {
  color: #0c1c81;
  padding: 10px;
  margin-left: 10px;
}

.car {
  position: relative;
  background-color: transparent;
  left: 0;
  opacity: 1; /* Initially visible */
  animation: moveRight 5s linear forwards 1; /* Move car to the right */
}

@keyframes moveRight {
  95% {
    left: calc(100vw - 50px); /* Move car to the right side of the window */
  }
  100% {
    opacity: 0; /* Vanish at the end */
  }
}

.move-once {
  animation: moveRightOnce 5s linear forwards;
}
/* The side navigation menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-right: 1px solid #0c1081;
  background-color: #0c1081;
  color: #fff;
}

.sidebar .closebutton {
  position: absolute;
  color: white;
  top: 4px;
  right: 10px;
  font-size: 22px;
  text-decoration: none;
}

#pageBody {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* Sidebar Button */
.openbutton {
  background-color: transparent;
  color: white;
  font-size: 24px;
  cursor: pointer;
  border: none;
  margin-left: -3%;
}

.sidebar-content {
  margin-left: 7%;
}

.sidebar-content-head {
  font-size: large;
}

#province {
  margin-top: 5%;
  padding: 10px;
  max-width: 90%;
  font-size: medium;
}

/* Buttons */
.button-container {
  display: flex;
  margin-top: 1%;
}

.instruction {
  margin: auto 0 auto 1%;
  font-size: 14px;
  /* font-style: italic; */
}

.download-button,
.upload-button {
  margin-right: 10px; /* Adjust as needed */
}

.file-upload {
  position: relative;
}

.file-upload-input {
  display: none;
}

.custom-upload-button {
  color: #000;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-left: 20px;
}

/* Add records */
.container {
  margin: 0 1%;
}

.table-btn button {
  background-color: #26b170;
  border: 0px;
  border-radius: 10px;
  padding: 8px 15px;
  color: white;
  font-size: medium;
}

.table-btn button:hover {
  background-color: #0c1081;
  cursor: pointer;
}

.table-btn {
  margin-left: 90%;
  transition: margin-left 0.5s;
}

.container table,
tr,
td {
  border: 1.6px solid #0c1081;
  border-collapse: collapse;
}

.container table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container table tr td {
  padding: 0.4rem;
  width: auto;
}

.table-tab {
  background-color: #0c1081;
  color: white;
  text-align: center;
  font-size: large;
}

.table-input td input {
  padding: 5px 0;
  width: 100%;
}

.table-input .custom-select {
  padding: 4px 0;
  font-size: initial;
  width: 100%;
}

.table-input input,
.custom-select:hover {
  cursor: pointer;
}

/* Table Actions - Alter Records */
.action-btn {
  padding: 4px 1px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #26b170;
  width: -webkit-fill-available;
  font-size: medium;
}

.action-btn:hover {
  background-color: #0c1081;
}

.action-btn img {
  width: 20px;
  height: 20px;
}

#alter-btns {
  display: none;
}

/* Footer */
.footer {
  background-color: #0c1081;
  color: white;
  font-size: 14px;
  padding: 15px;
  text-align: center;
}

.footer p {
  margin: 0;
}

/* .footer-section1 form input {
  padding: 8px 2px;
  width: -webkit-fill-available;
}

.footer-section1 form button {
  margin-top: 5%;
  background-color: #26b170;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
}

.footer-section2 h2 {
  margin-left: 7%;
}

.footer-section2 ul li {
  /* display: flex;
  flex-direction: column; 
  margin-left: 0;
}

.footer-section2 ul li a {
  color: white;
  text-align: center;
} */

/* Page 2 */
/*green options*/
#green-option {
  min-height: 79.8vh;
}

.choose-green-section {
  display: flex;
  color: white;
  font-weight: bolder;
  font-size: x-large;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* background-image: url('Images/background.png'); */
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 50px 60px;
}

.container2 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: #26b170;
  padding: 2% 5%;
  margin-top: 3%;
  margin-bottom: 2%;
  min-height: 80%;
  font-size: large;
  color: white;
}

.options-container {
  border-radius: 60px;
  background-color: #26b170;
}

.options-container table,
.options-container table tbody tr td {
  border: none;
  width: -webkit-fill-available;
  padding: 10px;
  text-align: left;
  font-size: 1.1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  font-weight: bold;
}

.options-container table tr th {
  font-size: 1.7em;
  font-weight: bold;
  padding-bottom: 3%;
  color: white;
}

.options-container .custom-select {
  padding: 4px 0;
  font-size: initial;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 63%;
}

.options-container .custom-select:hover {
  cursor: pointer;
}

.line {
  border-bottom: 7px solid #fff;
  width: 25%;
}

.choose-green-text {
  color: #fff;
  font-size: 22px;
  padding-top: 10px;
}

#green-option {
  min-height: 43rem;
}

/* .options-container th {
  color: #0c1c81;
}  */

/* Page 3 */
/* Emission Intensity */
#EmissionIntensity {
  min-height: 75.5vh;
}

.graphs {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background-color: brown; */
}

.graphs-head {
  /* background-color: #26b170; */
  background-color: #0c1c81;
}

.graphs-head h1 {
  color: white;
  background-color: #0c1081;
  padding: 20px 50px;
  width: fit-content;
  margin: auto;
}

.graph1 h2,
.graph2 h2 {
  text-align: center;
  color: #0c1081;
  display: none;
}

.emission-intensity {
  display: none;
  margin-bottom: 2rem;
}

.emission h3 {
  text-align: center;
  color: #0c1081;
  margin-top: 20px;
  font-style: italic;
}

#btns {
  margin-top: 1rem;
  margin-left: 96%;
}

.btns {
  margin: 2rem 0;
  margin-left: 90%;
}

.btns img {
  margin: 0.5rem;
  width: 25px;
  height: 25px;
}

.btns img:hover {
  cursor: pointer;
}

.hover-right,
.hover-left {
  transition: transform 0.3s ease;
}

.hover-right:hover {
  transform: translateX(10px);
}

.hover-left:hover {
  transform: translateX(-10px);
}
